.beer-list-wrapper {
    .beer-list {
        max-width: 13.75rem;
        max-height: 13.75rem;
        text-align: center;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        li {
            border-bottom: 0.1rem solid #1890ff;
            // border-radius: 0.15rem;
            padding: 0.5rem;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            &:hover {
                color: #40a9ff;
                cursor: pointer;
            }
        }
    }
    .pagination-wrapper {
        margin-top: 1rem;
        display: flex;
    }
}