.beer-list-wrapper {
    .beer-list {
        min-width: 18.75rem;
        max-width: 18.75rem;
        max-height: 20.5rem;
        min-height: 20.5rem;
        text-align: center;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        display: flex;
        flex-direction: column;
        &::-webkit-scrollbar {
            display: none;
        }
        img {
            height: 3rem;
            width: .9rem;
        }
        .beer {
            COLOR: #000;
            border-bottom: .1rem solid #d9d9d9;
            padding: 0.5rem;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            &:hover {
                border-bottom: 0.1rem solid #1890ff;
                color: #40a9ff;
                cursor: pointer;
            }
            .beer-desc {
                display: flex;
                flex-direction: column;
                :first-child {
                    font-weight: 600 ;
                }
            }

        }
    }
    .pagination-wrapper {
        margin-top: 1rem;
        display: flex;
    }
}