.beer-list {
    max-width: 13.75rem;
    max-height: 13.75rem;
    text-align: center;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    li {
        border-bottom: 1px solid red;
        border-radius: 0.15rem;
        padding: 0.5rem;
        &:hover {
            background-color: aquamarine;
            cursor: pointer;
        }
    }
}